<nav class="navbar">
  <div class="logo">
    <img src="assets/logo.png" alt="Logo" />
  </div>

<ul class="nav-links">
  <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
  <li><a routerLink="/menu" routerLinkActive="active">Menu</a></li>
  <li><a routerLink="/contacts" routerLinkActive="active">Contatti</a></li>
</ul>

  <a routerLink="/cart" routerLinkActive="active" class="cart-icon" role="button" tabindex="0" aria-label="Apri carrello">
    <img src="assets/cart.svg" alt="Carrello" />
  </a>
</nav>
