<div class="home-container">
  <h1>Pizzeria Bianco</h1>

  <div class="home-images">
    <img src="assets/pizzeria.jpg" alt="Pizzeria 1" class="home-image" />
    <img src="assets/pizzeria2.jpg" alt="Pizzeria 2" class="home-image" />
  </div>

  <div class="home-description">
    <p>Scopri il gusto autentico delle nostre pizze artigianali,
         preparate con passione e cotte nel tradizionale forno a legna.
          Utilizziamo solo ingredienti freschi, selezionati ogni giorno da
        produttori locali, per offrirti un’esperienza genuina e ricca di sapori.
        Da Bianco, ogni pizza racconta una storia fatta di semplicità, qualità e amore
        per la buona cucina.
</p>
  </div>
</div>
